<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Ronaldo Salmon</h1>
        <p>I am a Final Year computing major who is also an IT Support Analyst.<br>
            I am a passionate and determined individual who is looking forward to embark on his 
          exciting journey in computer science. I am currently working as an Information Technology Support
          Analyst at MITS UWI. I enjoying learning about new technologies and web developments. </p>
    </body>
</html>
